<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Creacion de usuario</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

</head>
<body>


<div th:if="${exito}!=null" class="card text-white bg-success mb-3 mt-3">
    <div class="card-body">
        <h5 class="card-title" th:text="${exito}"></h5>
        <p class="card-text" th:text="${familia.nombre}"></p>
        <p class="card-text" th:text="${familia.email}"></p>
        <p class="card-text" th:text="${familia.numHijos}"></p>
        <p class="card-text" th:text="${familia.edadMax}"></p>
        <p class="card-text" th:text="${familia.edadMin}"></p>
        <p class="card-text" th:text="${familia.usuario.alias}"></p>

    </div>
</div>

<div th:unless="${exito}==null" class="card text-white bg-failed mb-3 mt-3">
    <h5 class="card-title">No se pudo crear familia</h5>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
        crossorigin="anonymous"></script>
</body>
</html>