<main th:fragment="contentTemplate" class="container-lg">

    <div class="header text-center">
        <h1><u>Detalle de familia</u></h1>
    </div>

    <div class="card m-auto" style="width: 35rem;">
        <div class="card-body">
            <ul class="list-group list-group-flush">
                <!--Id-->
                <li class="list-group-item">
                    <p class="card-text">
                        #<span th:text="${familia.id}"></span>
                    </p>
                </li>
                <!--Nombre-->
                <li class="list-group-item">
                    <p class="card-text">
                        <i class="fa-solid fa-people-roof"></i>Nombre:
                        <span th:text="${familia.nombre}"></span>
                    </p>
                </li>
                <!--Email-->
                <li class="list-group-item">
                    <p class="card-text">
                        <i class="fa-solid fa-envelope"></i>Email:
                        <span th:text="${familia.email}"></span>
                    </p>
                </li>
                <!--Hijos-->
                <li class="list-group-item">
                    <p class="card-text">
                        <i class="fa-solid fa-child"></i>Hijos:
                        <span th:text="${familia.numHijos}+' entre '+${familia.edadMin}+' a '+${familia.edadMax}+' años'"></span>
                    </p>
                </li>
            </ul>
        </div>
    </div>
</main>
